<th class="name">Name</th>
<td class="monthly-quantity">Monthly Qty</td>
<td class="unit">Unit</td>
<td class="price">{{formatTitleWithCurrency currency "Price" }}</td>
<td class="hourly-cost">{{formatTitleWithCurrency currency "Hourly Cost" }}</td>
<td class="monthly-cost">{{formatTitleWithCurrency currency "Monthly Cost" }}</td>